.commerce-addresses.placeholder.block::before {
  content: "Addresses";
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: rgb(0 0 0 / 20%);
  z-index: -1;
}

.commerce-addresses.placeholder.block {
  display: flex;
  border: dashed 3px lightgrey;
  padding: 10px;
  margin-bottom: 10px;
}

.commerce-addresses.placeholder.block > div {
  flex-grow: 1;
  padding: 10px;
  display:flex;
  justify-content: center;
}

.commerce-addresses.placeholder.block > div > div {
  padding: 10px;
  }

  .commerce-addresses.placeholder.block > div > div:first-child {
font-weight: bold;
}
